/************/
/* Font */
/************/
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');


/*******************/
/* Genel Ayarlar */
/******************/

html,
body {
	@apply min-h-full m-0 p-0;
}

body {
	@apply text-yazi-rengi font-sans overflow-x-hidden bg-white antialiased;

	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);

	* {
		@apply box-border bg-no-repeat bg-cover;

		outline: none;
	}

	#sayfa-kapsayicisi {
		@apply flex flex-col overflow-x-hidden relative;
	}
}

.konteyner {
    @apply max-w-[1340px] w-[95%] mx-auto;
}

a {
    @apply duration-300 hover:text-mavi;

    color: inherit;
}

p {
    @apply text-yazi-rengi font-sans;
}

b,
strong {
    @apply font-bold;
}

h1,
.h1-boyutu,
h2,
.h2-boyutu,
h3,
.h3-boyutu,
h4,
.h4-boyutu,
h5,
.h5-boyutu,
h6,
.h6-boyutu {
	@apply font-sans text-yazi-rengi font-bold;
}

h1,
.h1-boyutu {
    @apply text-[42px] leading-[50px];
}

/* h2,
.h2-boyutu {
}

h3,
.h3-boyutu {
}

h4,
.h4-boyutu {
}

h5,
.h5-boyutu {
}

h6,
.h6-boyutu {
} */

figure {
    @apply m-0;

	& > img {
		@apply max-w-full;
	}
}


/************/
/* Üst Alan */
/************/




/************/
/* Menüler */
/************/
.ust-menu > ul {
    @apply flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700;

    li {

        & > a {
            @apply block py-2 pl-3 pr-4 rounded md:p-0;
        }

        &.current_page_item {

            & > a {
                @apply text-white bg-blue-700 md:bg-transparent md:text-blue-700 md:dark:text-blue-500;
            }
        }
    }
}
