name: Publish Website

on: push

jobs:
  Fast-FTP-Action:
    name: Fast FTP Actionn
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Fast FTP Action
      uses: anvil-solutions/Fast-FTP-Action@2.1.3
      with:
        server: ${{ secrets.FTP_HOST }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        local_dir: "web/wp-content/themes/cuneyt-tas/"
        remote_dir: "public_html/wp-content/themes/cuneyt-tas/"
