name: Publish Website

on: push

jobs:
  Fast-FTP-Action:
    name: Fast FTP Actionn
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Upload file
      uses: tomasbkk/action-ftp-upload@v1.2
      with:
        user: ${{ secrets.FTP_USER }}
        password: ${{ secrets.FTP_PASSWORD }}
        host: ${{ secrets.FTP_HOST }}
        src: "web/wp-content/themes/cuneyt-tas/"
        dest: "public_html/wp-content/themes/cuneyt-tas/"
        secure: implicit
